<div>
  <div class='member__image'>
    <img src='{{member.image}}' />
  </div>
  <div class='member__details'>
    <div class='member__name'>{{member.name}}</div>
    <div class='member__role'>{{member.role}}</div>
    <div class='member__project'>{{member.project}}</div>
    <div class='member__intro'>{{member.intro}}</div>
  </div>
</div>