<div>
  <h3>Birthdays for this month (March) 🎉</h3>
  <br>
  <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Ken Lo 🎂 
    <h5><span class="badge badge-info">1 March</span></h5>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Len Ko
    <h5><span class="badge badge-light">2 March</span></h5>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Wei Jian
    <h5><span class="badge badge-light">15 March</span></h5>
  </li>
</ul>
</div>