    <div class='container'>

        <div class='row'>
            <div class='floorplan__area mol col-6'>MOL</div>
            <div class='floorplan__area uiux col-3'>UI/UX</div>
            <div class='floorplan__area wogaa col-3'>WOGAA</div>
        </div>

        <div class='row'>
            <div class='floorplan__area stand-up-area offset-6 col-3'>
              <span class="badge badge-pill badge-danger you-are-here">You are here</span>
              STAND UP AREA
            </div>
        </div>

        <div class='row'>
            <div class='floorplan__area main-area col-9'>
                <div class="stand-up-door"></div>
                <div class="pantry-door"></div>
                MAIN AREA
            </div>
            <div class='floorplan__area eol col-3'>EOL</div>
        </div>

        <div class='row'>
            <div class='floorplan__area entrance col-2'>
            <div class="entrance-door"></div>
            </div>
        </div>
        
    </div>