<div class="card shadow" style="width: 18rem;">
  <div class="mx-2 my-1"> {{card_title}} </div>
  <div class="center">
    <div class="name">
      Ken Lo
      <div class="small-text">Dont put mouth in my words</div>
    </div>
  </div>
  <img class="card-img-top" src={{image-src}}>
  <div class="card-body">
    <h6> How long have you been in GovTech </h4>
      <p class="card-text">I was in the the TAP 2.0 batch, so it's been almost 2 and a half years since i joined.</p>
      <h6> What project are you working on?</h4>
        <p class="card-text">I previously work on the OneService project, right now i dunno what i'm working on.</p>
        <h6> What advice will you give to other DCubers.</h4>
          <p class="card-text">Keep calm and jio on.</p>
  </div>
</div>