 {{>atom-floorplan}}

<div class='container'>
    <div class='row'>
        <div class='widget-card-list'>
            <div class='widget-card'>
                <div class="title" style="border-bottom: 3px solid #bbdef0;">End of Life (EOL)<span class='sprint'> Sprint 6</span></div>
                <div class="description">Bacon ipsum dolor amet tenderloin prosciutto tail t-bone alcatra. Shoulder burgdoggen kevin tri-tip doner flank ham.
                <br><a href="/">Demo</a>|<a href="/">Repo</a>|<a href="/">Docs</a>
                </div>        
                <div class="icons">
                    <i class="fab fa-sass"></i>
                    <i class="fab fa-react"></i>
                    <i class="fab fa-node"></i>
                    <i class="fab fa-github"></i>
                        <i class="fab fa-docker"></i>
                    <i class="fab fa-aws"></i>
                </div>
                <span class="members">18 Members</span>
                <div class="memberlist">
                    Trey<br>
                    Weijian<br>
                    Yihui<br>
                    Leonard<br>
                </div>
            
            </div>
            <div class='widget-card'>
                <div class="title" style="border-bottom: 3px solid #f08700;">Moments of Life (MOL)<span class='sprint'> Sprint 49</span></div>
                <div class="description">Bacon ipsum dolor amet tenderloin prosciutto tail t-bone alcatra. Shoulder burgdoggen kevin tri-tip doner flank ham.
                <br><a href="/">Demo</a>|<a href="/">Repo</a>|<a href="/">Docs</a>
                </div>
                <div class="icons">
                    <i class="fab fa-sass"></i>
                    <i class="fab fa-angular"></i>
                    <i class="fab fa-node"></i>
                    <i class="fab fa-apple-pay"></i>
                        <i class="fab fa-jenkins"></i>
                    <i class="fab fa-aws"></i>
                </div>
                <span class="members">23 Members</span>
                <div class="memberlist">
                    Trey<br>
                    Weijian<br>
                    Yihui<br>
                    Leonard<br>
                </div>
            </div>
            <div class='widget-card'>
                <div class="title" style="border-bottom: 3px solid #00a6a6;">Whole of Government Application Analytics (WOGAA)<span class='sprint'> Sprint 36</span></div>
                <div class="description">Bacon ipsum dolor amet tenderloin prosciutto tail t-bone alcatra. Shoulder burgdoggen kevin tri-tip doner flank ham.
                    <br><a href="/">Demo</a>|<a href="/">Repo</a>|<a href="/">Docs</a>
                </div>
                
                <div class="icons">
                    <i class="fab fa-html5"></i>
                    <i class="fab fa-react"></i>
                    <i class="fab fa-node"></i>
                    <i class="fab fa-npm"></i>
                        <i class="fab fa-docker"></i>
                    <i class="fab fa-aws"></i>
                </div>
                <span class="members">27 Members</span>
                <div class="memberlist">
                    Trey<br>
                    Weijian<br>
                    Yihui<br>
                    Leonard<br>
                </div>
                
            </div>

             {{>atom-year-completion}}
        </div>
    </div>
</div>
