<div class='jio'>
    <h3 class='work__jio__header'>Your open jio title for innovation and experiment projects</h3>
    <p class='work__jio__description'>A description of what your experiment is about and why DCubers should join goes here</p>
    <p class='work__jio__details'>
    When:<br>
    Desired Outcome:<br>
    Number of Slots Left:</p>

    <div class='jio-card-footer'>

        <div class='avatar__mini__group'>
            <div class='avatar mini-light'></div>
            <div class='avatar mini-dark'></div>
            <div class='avatar mini-light'></div>
        </div>

        <button type="button" class="btn btn-primary jio__btn" data-toggle='modal' data-target='#joinJioModal'>✋🏻 Count me in!</button>
    
    </div>



    <div class='modal jio__modal' id='joinJioModal' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Add me to the jio</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body'>
          <div class='input-group mb-3 flex-column'>
            <label for='name'>Name</label>
            <input type='text'  id='name' class='form-control mb-2 w-100' placeholder='Your pretty/handsome name please' aria-label='Your pretty/handsome name please'>
            <label for='product-team'>Which product team are you from?</label>
            <input type='text' id='product-team' class='form-control mb-2 w-100' placeholder='E.g. MOL Families, EOL, WOGAA, etc.' aria-label='E.g. MOL Families, EOL, WOGAA, etc.'>
            <label for='telegram-handle'>What's your Telegram handle?</label>
            <input type='text' id='telegram-handle' class='form-control w-100' placeholder='So the jio-er will know how to contact you' aria-label='So the jio-er will know how to contact you'>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-light' data-dismiss='modal'>Cancel</button>
          <button type='button' class='btn btn-success'>Jio me!</button>
        </div>
      </div>
    </div>
  </div>


</div>