<div class='project__body row'>
  <div class='project__name col-2'>
    <div class='avatar'></div>
    <h3 class='project__team__name'>{{teamName}}</h3>
    <h6 class='project__goal__sprint-number'>Sprint number {{sprintNumber}}</h6>
  </div>
  
  <div class='project__goal col-5'>
    <h3 class='semibold'>Sprint Goal</h3>
    <p class='project__goal__task'>{{sprintGoals}}</p>
  </div>

  <div class='project__status col-5'>
    <h3 class='semibold'>Status this Week</h3>
      <ol>
        {{#statuses}}
          <li>{{line}}</li>
        {{/statuses}}
      </ol>
  </div>
</div>

