<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link
    rel="stylesheet"
    type="text/css"
    href="dashboard.css">
    <title>DCube Dashboard</title>

  </head>

  <body>
    <h1 class="sarah-h1">The Board of Divinity</h1>

    <marquee class="transparent-bg marquee-top" behavior="scroll" direction="left">-QOTD or Joke of the Day- (eg. Build a man a fire, he'll be warm for the night. Set a man on fire, he'll be warm for the rest of his life.) </marquee>


  <div class="container-fluid">
      <div class="row">
          <div class="col-9">
              <div class="container-fluid">
                  <div class="row">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="http://placeimg.com/400/300/tech" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">project title</h5>
                          <p class="card-text">project description</p>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="http://placeimg.com/400/300/tech" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">project title</h5>
                          <p class="card-text">project description</p>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="http://placeimg.com/400/300/tech" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">project title</h5>
                          <p class="card-text">project description</p>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="http://placeimg.com/400/300/tech" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">project title</h5>
                          <p class="card-text">project description</p>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="http://placeimg.com/400/300/tech" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">project title</h5>
                          <p class="card-text">project description</p>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="http://placeimg.com/400/300/tech" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">project title</h5>
                          <p class="card-text">project description</p>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="http://placeimg.com/400/300/tech" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">project title</h5>
                              <p class="card-text">project description</p>
                            </div>
                    </div>
                    <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="http://placeimg.com/400/300/tech" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">project title</h5>
                              <p class="card-text">project description</p>
                            </div>
                    </div>
                   </div>
               </div>
          </div>
          <div class="col-3 transparent-bg">
            <div class="container-fluid">
                <div><br> Featured DCuber Of The Month
                    <img class="featured-img" src="https://www.qoahub.com/Uploads/anonymous.jpg" alt="">
                    <br> -Name- <br> -3 Facts about them-
                </div>
                <hr style="border-color:white; background-color: white;">
                <div>
                    <div class="container-fluid"> New Kids On The Block
                        <div class="row newkid">
                            <div class="col-6">
                                <img class="newkid-img" src="https://www.qoahub.com/Uploads/anonymous.jpg" alt="">
                                <br> -Name- <br> Role/Dept: <br> -3 Facts about them-
                            </div>
                            <div class="col-6">
                                <img class="newkid-img" src="https://www.qoahub.com/Uploads/anonymous.jpg" alt="">
                                <br> -Name- <br> Role/Dept: <br> -3 Facts about them-
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-color:white; background-color: white;">
                <div>Upcoming Birthdays
                    <img class="cakepic" src="../../images/cake.PNG" alt="">
                    <marquee class="marque-side" behaviour="scroll" direction="up" scrollamount="5">-name and date of birth- <img class="newkid-img" src="https://www.qoahub.com/Uploads/anonymous.jpg" alt=""><br> -name and date of birth- <img class="newkid-img" src="https://www.qoahub.com/Uploads/anonymous.jpg" alt=""></marquee>
                </div>
            </div>
          </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row bottom">
          <div class="col-9 column"><img class="img-fluid" src="../../images/floorplan.JPEG" alt="Responsive image"></div>
          <div class="col-3 transparent-bg2">
            <div class="centre"><br> Key Contacts
                <br> -name, role, number- <br> -name, role, number- <br> -name, role, number-
            </div>
        <hr style="border-color:white; background-color: white;">
            <div>
                <div class="transparent-bg2">
                    Upcoming Events <br> -event details <br> -event details
                </div>
                <br>
                <div class="transparent-bg2">
                    Research Opportunity <br> -test details <br> -test details
                </div>
                <br>
                <div class="transparent-bg2">
                    Non-Work Activities <br> -activity details <br> -activity details
                </div>
            </div>
          </div>
      </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
